@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
div,
p,
img,
ul,
a,
li{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
:root{
    --Moderate-blue:hsl(238, 40%, 52%);
    --Soft-Red: hsl(358, 79%, 66%);
    --Light-grayish-blue: hsl(239, 57%, 85%);
    --Pale-red: hsl(357, 100%, 86%);

    --green: hsl(120, 76%, 37%);
    --Dark-blue: hsl(212, 24%, 26%);
    --Grayish-Blue: hsl(211, 10%, 45%);
    --Light-gray: hsl(223, 19%, 93%);
    --Very-light-gray: hsl(228, 33%, 97%);
    --White: hsl(0, 0%, 100%);


    --fw-sm: 400;
    --fw-md: 500;
    --fw-bl: 700;
}

.w-100{
    width: 100% !important;
}

.display-none{
    display: none;
}

